terratowns_endpoint="https://terratowns.cloud/api"
bucket_name="x7rflmqvg5uuoh49dt8lhgfksyob3obk"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=3
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets"
